$primary: #ad1fea;
$primaryHover: #c75af6;
$secondary: #3a4374;
$secondaryHover: #656ea3;
$paragraph: #647196;
$headline: #3a4374;
$active: #4661e6;
$activeHover: #7c91f9;
$planned: #f49f85;
$live: #62bcfa;
$bodyBackground: #f2f4ff;
$headerBackground: #373f68;
$delete: #d73737;
$deleteHover: #e98888;
$buttonHover: #cfd7ff;
$linkHover: #8397f8;
$white: #ffffff;

:export {
	primary: $primary;
}
