@use "../styles/breakpoints.module.scss" as breakpoints;
@use "../styles/theme.module.scss" as theme;

.formContainer {
	display: flex;
	flex-direction: column;
	gap: 1em;
	padding: 1em;
	width: 100vw;
	max-width: 540px;
	form {
		position: relative;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		gap: 1em;
		margin-top: 2rem;
		padding: 2em;
		border-radius: 10px;
		background-color: theme.$white;
		.icon {
			position: absolute;
			top: 0;
			transform: translateY(-50%);
		}
		h2 {
			margin: 1em 0;
			color: theme.$headline;
		}
		label {
			display: flex;
			flex-direction: column;
			gap: 0.2em;
			font-size: 1.4rem;
		}
		.input {
			display: flex;
			flex-direction: column;
			gap: 0.25em;
			input,
			textarea,
			.select__control {
				padding: 0.8em 1em;
				border: none;
				border-radius: 5px;
				border: 1px solid transparent;
				background-color: theme.$bodyBackground;
				color: theme.$paragraph;
				font-size: inherit;
				font-family: inherit;
				&.error {
					border: 1px solid red;
					&:hover {
						border: 1px solid red;
					}
				}
				&:hover {
					border: 1px solid theme.$active;
				}
			}
			textarea {
				resize: none;
				&.detail {
					padding-bottom: 5.5em;
				}
			}
			:global {
				.select {
					&__control {
						padding: 0;
						border: none;
						border-radius: 5px;
						border: 1px solid transparent;
						background-color: theme.$bodyBackground;
						color: theme.$paragraph;
						font-size: inherit;
						font-family: inherit;
						transition: none;
						cursor: pointer;
						&--is-open {
							.select__dropdown-indicator {
								transform: rotate(180deg);
							}
						}
						&.error {
							border: 1px solid red;
							&:hover {
								border: 1px solid red;
							}
						}
						&:hover {
							border: 1px solid theme.$active;
						}
					}
					&__single-value {
						margin: 0;
						color: theme.$paragraph;
					}
					&__indicator-separator {
						display: none;
					}
					&__dropdown-indicator {
						color: theme.$active;
						margin-right: 0.5em;
						transition: none;
					}
					&__value-container {
						padding: 0 1em;
					}
					&__option {
						padding: 0.6em 1.1em;
						color: theme.$paragraph;
						border-bottom: 1px solid theme.$bodyBackground;
						cursor: pointer;
						&:last-of-type {
							border-bottom: none;
						}
						&:hover,
						&--is-focused {
							color: theme.$primary;
							background: none;
						}
						&--is-selected {
							background: none;
						}
						&--is-selected {
							&::before {
								content: url("../../assets/shared/icon-check.svg");
								position: absolute;
								right: 1.1em;
							}
						}
					}
					&__menu {
						border-radius: 10px;
						box-shadow: 0 2px 15px rgba(0, 0, 0, 0.25);
					}
				}
			}
		}
	}
	.errorMessage {
		height: 1em;
		color: red;
		font-size: 1.3rem;
		line-height: 2rem;
	}
	.buttons {
		display: inline-flex;
		flex-direction: column;
		gap: 1em;
		@media (min-width: 540px) {
			flex-direction: row-reverse;
		}
	}
}
