@use "./styles/breakpoints.module.scss" as breakpoints;

.container {
	width: 100vw;
	display: flex;
	flex-direction: column;
	@media (min-width: breakpoints.$tablet) {
		padding: 1em;
		gap: 1em;
	}
	@media (min-width: breakpoints.$desktop) {
		flex-direction: row;
	}

	@media (min-width: breakpoints.$bigDesktop) {
		max-width: breakpoints.$bigDesktop;
	}
}
