@use "@/app/styles/breakpoints.module.scss" as breakpoints;
@use "@/app/styles/theme.module.scss" as theme;

.roadmapPage {
	width: 100vw;
	display: flex;
	flex-direction: column;
	@media (min-width: breakpoints.$tablet) {
		padding: 1em;
		gap: 2em;
	}
	@media (min-width: breakpoints.$bigDesktop) {
		max-width: breakpoints.$bigDesktop;
	}
	.entries {
		display: flex;
		gap: 1em;
		@media (min-width: breakpoints.$desktop) {
			gap: 2em;
		}
	}
}

.header {
	padding: 1.5em 1.5em;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: theme.$headerBackground;
	@media (min-width: breakpoints.$tablet) {
		border-radius: 10px;
	}
	.left {
		display: flex;
		flex-direction: column;
		gap: 0.5em;
		color: theme.$white;
	}
}

.roadmapColumn {
	display: flex;
	padding: 0 2em;
	flex-direction: column;
	flex: 1;
	gap: 1em;
	.title {
		margin-bottom: 1em;
		h2 {
			color: theme.$headline;
		}
	}
	@media (min-width: breakpoints.$tablet) {
		padding: 0;
	}
}

.roadmapMobile {
	display: flex;
	flex-direction: column;
	gap: 2em;
	.tabs {
		display: flex;
		.tab {
			padding: 1.5em 0;
			display: flex;
			flex: 1;
			justify-content: center;
			opacity: 0.4;
			font-weight: 800;
			color: theme.$paragraph;
			border-bottom: 1px solid theme.$paragraph;
			cursor: pointer;
			&.active {
				opacity: 1;
				border-bottom-width: 5px;
				&.planned {
					border-bottom-color: theme.$planned;
				}
				&.inprogress {
					border-bottom-color: theme.$primary;
				}
				&.live {
					border-bottom-color: theme.$live;
				}
			}
		}
	}
	@media (min-width: breakpoints.$mobile) {
		display: none;
	}
}

.roadmapDesktop {
	@media (max-width: breakpoints.$mobile) {
		display: none;
	}
}
