@use "../../styles/breakpoints.module.scss" as breakpoints;
@use "../../styles/theme.module.scss" as theme;

.feedbackEntry {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 1em;
	padding: 1.5em 1.5em;
	border-radius: 10px;
	background-color: theme.$white;
	.content {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 1em;
	}
	.votes {
		padding: 0.4em 1em;
		overflow: hidden;
		display: flex;
		align-self: flex-start;
		justify-content: center;
		align-items: center;
		gap: 0.5em;
		border-radius: 10px;
		font-size: 1.3rem;
		font-weight: 600;
		color: theme.$headline;
		background-color: theme.$bodyBackground;
		&:hover {
			background-color: theme.$buttonHover;
		}
		&.active {
			background-color: theme.$active;
			color: theme.$white;
			svg {
				color: white;
			}
		}
		&.skeleton {
			padding: 0;
			background: none;
			div {
				padding: 0.4em 1em;
			}
		}
	}
	.comments {
		display: flex;
		align-self: center;
		align-items: center;
		gap: 0.75em;
		padding: 0.5em 1em;
		color: theme.$headline;
		font-weight: 600;
	}
	&:hover h3 {
		color: theme.$active;
	}
	&.extend {
		@media (min-width: breakpoints.$tablet) {
			flex-wrap: nowrap;
			gap: 2em;
			.content {
				order: 2;
			}
			.votes {
				width: 40px;
				padding: 0.4em;
				flex-direction: column;
				order: 1;
				gap: 0.25em;
				svg {
					margin-top: 0.5em;
				}
			}
			.comments {
				order: 3;
			}
		}
	}
	&.link {
		&:hover {
			cursor: pointer;
		}
	}
}
